

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 80px 200px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: rgb(77, 75, 75);
}

header {
    padding: 25px 200px;
    background-color: #faebd7;
}

.nav {
    justify-content: space-between;
}

.nav h1 {
    font-size: 50px;
    font-weight: 500;
}

.menu .item {
    margin-right: 30px;
}
.banner {
    background-color: #faebd7;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;

}
.content h1 {
    font-size: 70px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content p {
    font-size: 16px !important;
    font-weight: 300;
    color: black;
    text-align: center;
}

.btn {
    padding: 15px 35px;
    background-color: rgb(255, 174, 1);
    border: none;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: aliceblue;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column

}
.feature-contents {
    padding-left: 50px;
}

.feature-contents h1 {
    font-size: 45px;
    font-weight: 600;
    color: black;
    width: 400px;

}
.feature-contents p {
    width: 600px;

}
.feature-contents .our {
   color: black;
}



.title-love {
    padding-right: 300px;
    
    
}
.title-love h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    line-height: 45px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 5px solid orange;
}

.box-4 {
    width: 80%;
    margin-top: 20px;
    padding: 30px 40px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.box-4 h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.year10 {
    background-color: orange;
    padding: 40px 40px;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    line-height: 40px;
    font-weight: 600;
    color: aliceblue;
    position: relative;
    top: -100px;
    left: -30px;
}
.fact-content {
    width: 40%;
    margin-bottom: 100px;
}
.fact-content h1 {
    font-size: 45px;
    font-weight: 600;
    color: black;
}
.box-fact {
    text-align: center;
    justify-content: space-around;
    
}
.fact-list {
    padding: 50px 40px;
    border: 2px solid orange;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.fact-list:hover {
        transform: translateY(-7px);
        box-shadow: 0px 70px 40px -60px rgba(0,0,0,0.61);
}
.fact-list h1 {
    font-size: 35px;
    font-weight: 600;
    color: rgb(68, 66, 66);
}
.fact-list h3 {
    font-size: 18px;
    font-weight: 300;
    color: rgb(117, 116, 116);
}
.sponsors-content {
    margin-bottom: 80px;
    flex-direction: column;
}
.sponsors-content p {
    width: 500px;
    
    text-align: center;
}
.sponsors-content h1 {
    font-size: 45px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;

}
.sponsors-images {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.copy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF4E7;
    padding: 20px 0px;
}
.copy-content h1 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.client-community {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(160, 245, 216);
    border-radius: 10px;
    padding: 100px 100px;
}
.client-community h1 {
    width: 650px;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;

}
.client-community p {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    color: black;

}